* {
  padding: 0%;
  justify-items: auto;
  margin: auto;
  -ms-flex-line-pack: justify;

}


.container {
    padding: 20px;
    border: 2px solid rgb(195, 111, 111);
    border-radius: 2rem;
    
    margin-top: 30px;
    color: rgb(0, 0, 0);
    position: relative;
}
.container .form{
width: 450px;
}
.btn-primary{
  margin-top: 10px;
}
.btn-form{
  margin-top: 20px;
}
