* {
  padding: 0%;
  justify-items: auto;
  margin: auto;
  -ms-flex-line-pack: justify;
}
body {
  background-image: url(galaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container1 .nav-link {
  color: aqua;
  margin-left: 50px;
  margin-top: 50px;
  -webkit-text-stroke-width: 1px;
  font-size: 30px;
}
.container-fluid {
  -webkit-text-stroke-width: 1px;
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}
.container {
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 30px;
    color: aqua;
  }